html,
body {
    padding    : 0;
    margin     : 0;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "游ゴシック", "メイリオ", "Osaka", Meiryo, sans-serif;
    font-weight: bold;
}

#main {
    display              : grid;
    grid-template-columns: 3em 1fr;
    min-height           : 100vh;
    max-width            : 100vw;
    padding              : .5em 0 0 .5em;
    box-sizing           : border-box;
    background-color     : var(--color_background);
}

#frame {
    background-color: var(--color_line);
    padding         : 2em;
    box-sizing      : border-box;
    max-width       : 100%;
}

/* --- for smartphone --- */
@media (max-width: 599px) {
    #frame {
        padding: 2em 1em;
    }
}