<!DOCTYPE html>
<html lang="ja">

<head>
    <title>{{.PageTitle}}</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/error.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/markdown.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/write.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/object.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/search.css" />

    <link href="/assets/js/prettify/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/js/prettify/prettify.js"></script>

    <script type="text/javascript" src="/assets/js/index.js"></script>
    <script type="text/javascript" src="/assets/js/save.js"></script>
</head>

<body id="main">

    {{template "menu" .MenuInfo}}
    <div id="frame">
        {{.HTML}}
    </div>

</body>

</html>