<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#2FB3FE" />
    <meta name="msapplication-TileColor" content="#2FB3FE" />
    <meta name="copyright" content="©TomSuzuki" />
    <title>{{.PageTitle}}</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/error.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/markdown.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/write.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/object.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/search.css" />
    <link href="/assets/js/prettify/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/js/save.js"></script>
</head>

<body id="main">

    {{template "menu" .MenuInfo}}
    <div id="frame">
        {{.HTML}}
    </div>

</body>

</html>