<div id="frame_search">
    <div class="center">
        <input type="search" placeholder="検索" id="search_input"
            onchange="javascript:location.href=`?keyword=${document.getElementById('search_input').value}`;"
            value="{{.Keyword}}">
    </div>

    <ul id="search_list">
        {{range .FolderList}}
        <li class="search_word"><a href="/search?f={{.Path}}">{{.PathName}}</a></li>
        {{end}}
        {{range .WordList}}
        <li class="search_word"><a href="/page?w={{.Path}}">{{.PathName}}</a></li>
        {{end}}
    </ul>

    <div id="search_add_button_height"></div>
    <a id="search_add_button" href="/write?w={{.Path}}">+</a>
</div>