<div id="frame_markdown">
    <div id="markdown_top">
        <h1>{{.Title}}</h1>
        {{if .CanEdit}}
        <input id="markdown_edit" type="button" value="編集" onclick="javascript:location.href='./edit?w={{.Word}}'">
        {{end}}
    </div>
    <div id="markdown">
        {{.MarkdownHTML}}
    </div>
    {{if .CanEdit}}
    <div id="foot_menu">
        <hr>
        <div id="foot_menu_list">
            <a href="javascript:savePageMarkdown('{{.Word}}');">Markdownとしてダウンロード</a></li>
        </div>
    </div>
    {{end}}
</div>
